.dash-menu {
    background-color: #f8f8f8;
    width: 250px;
    height: 150px;
    position: absolute;
    justify-content: center;
    margin-top: 90px;
    margin-right: 500px;
    display: none;
    transition: 850ms;
    flex-direction: column;
    padding: 40px;
    top:0;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.dash-menu.active {
    display: flex;
    transition: 350ms;
}